<script src="/vendor/better-dom/dist/better-dom.min.js"></script>
<script src="/vendor/better-details-polyfill/dist/better-details-polyfill.js"></script>
<style>
	
.login-alternatives details {
	display: inline-block;
	position: absolute;
	z-index: 1;
}

.login-alternatives details .info {
	background: #DDF;
	padding: 0 0.5em;
	border: thin solid black;
	margin: 0.5em 0;
}

.login-alternatives .warn {
	color: red;
	font-size: 1.8em;
	font-weidht: 900; /* no effect... */
	margin: 0 .5em;
	text-indent: 0;
	cursor: help;
}


.login-alternatives summary::before {
  display: none;
}
.login-alternatives details::before {
	display: none;
}
</style>
